body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 3840px;
}
header{
    display: flex;
    justify-content: center;

    h1{
        border: 1px solid lightblue;
        border-radius: 15px;
        padding: 20px;
        width: fit-content;
    }
}
main{
    display: flex;
    text-align: center;
    justify-content: center;
}
table{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    margin: 20px;
    border-collapse: collapse;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
th{
    background-color: lightblue;
    border-bottom: 1px solid black;
    width: fit-content;
    
}
th,td{
    border-left:1px solid black ;
    border-right:1px solid black ;
}
tr:nth-child(odd){
    background-color: rgb(226, 225, 206);
}