<section>
        <form [formGroup]="form_consulta">
            <select name="titem" id="titem" formControlName="titem">
                <option value="weapon">ARMA</option>
                <option value="armour">ARMADURA</option>
                <option value="trinket">ACESSÓRIO</option>
            </select>
            <select name="tipo" id="tipo" formControlName="tipo">
                <option value="id">ID</option>
                <option value="nome">NOME</option>
                <option value="type">TIPO</option>
                <option value="all">TODOS</option>
            </select>
            <input type="text" name="prop" id="prop" formControlName="prop">
            <app-btn-submit
            btn-text="Consultar Item"
            (click)="onSubmit()"
            [disabled]="!form_consulta.valid"
            [loading]="loading()"
        ></app-btn-submit>
        </form>
</section>