<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/build.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <title>Build</title>
  </head>
  <body>
    <main>
      <div class="itens-container">
        <div class="item-container">
          <label for="helmet">Helmet</label>
          <select name="helmet" id="helmet">
            <option value="null" selected></option>
            {% for helmet in itens["helmet"]%}
            <option value="{{helmet['id']}}">{{helmet['name']}}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="item-container">
          <label for="body-armor">Body armor</label>
          <select name="body-armor" id="body-armor">
            <option value="null" selected></option>
            {% for body in itens["body"]%}
            <option value="{{body['id']}}">{{body['name']}}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="item-container">
          <label for="gloves">Gloves</label>
          <select name="gloves" id="gloves">
            <option value="null" selected></option>
            {% for gloves in itens["gloves"]%}
            <option value="{{gloves['id']}}">{{gloves['name']}}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="item-container">
          <label for="boots">Boots</label>
          <select name="boots" id="boots">
            <option value="null" selected></option>
            {% for boots in itens["boots"]%}
            <option value="{{boots['id']}}">{{boots['name']}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="item-container">
          <label for="main-hand">Main Hand</label>
          <select name="main-hand" id="main-hand">
            <option value="null" selected></option>
            {% for main_hand in itens["main_hand"]%}
            <option value="{{main_hand['id']}}">{{main_hand['name']}}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="item-container">
          <label for="off-hand">Off-Hand</label>
          <select name="off-hand" id="off-hand">
            <option value="null" selected></option>
            {% for off_hand in itens["off_hand"]%}
            <option value="{{off_hand['id']}}">{{off_hand['name']}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="item-container">
          <label for="amulet">Amulet</label>
          <select name="amulet" id="amulet">
            <option value="null" selected></option>
            {% for amulet in itens["amulet"]%}
            <option value="{{amulet['id']}}">{{amulet['name']}}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="item-container">
          <label for="ring">Ring</label>
          <select name="ring" id="ring">
            <option value="null" selected></option>
            {% for ring in itens["ring"]%}
            <option value="{{ring['id']}}">{{ring['name']}}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="item-container">
          <label for="belt">Belt</label>
          <select name="belt" id="belt">
            <option value="null" selected></option>
            {% for belt in itens["belt"]%}
            <option value="{{belt['id']}}">{{belt['name']}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="editor-container">
        <div class="build-new">
          <label for="buld-name"></label>
          <input type="text" name="build-name" id="build-name" autofocus>
          <button id="add">ADD</button>
        </div>

        <div class="build-list">
          <label for=""></label>
          <select name="build-id" id="build-id">
            {% for build in builds %}
            <option value="{{build['id']}}">{{build["name"]}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="button-container">
          <button id="edit">EDIT</button>
          <button id="delete">DELETE</button>
          <button id="clear">CLEAR</button>
        </div>
      </div>

    </main>
    <script type="text/javascript" src="/static/build.js" defer></script>
  </body>
</html>
